body {
	font-family: "Arial", sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	/* width: 100%; */
	/* min-height: 100%; */
	/* background-color: #EEEEEE; */
	/* border-bottom: 1px solid #BBBBBB; */
	/* margin-top: 2%; */
}

header {
	border-bottom: 1px solid #BBBBBB;
	margin-top: 1%;
	width: 100%;
}
header table,td {
	border: none;
}

.error {
	text-align: center;
}

.content {
	margin: 0% 3%;
	padding: 1% 3%;
}

section {
	padding: 1% 0%;
}

footer {
	padding: 2%;
	text-align: center;
	font-family: "Times New Roman";
	/* border-top: 1px solid #BBBBBB; */
}

nav {
	/* background-color: #222222BB; */
	/* font-size: small; */

	/* background-color: #0f1116; */
	background-color: #114444;
	color: #ffffff;
    /* display: flex; */
    /* flex-direction: row; */
	padding-left: 1em;
	padding-right: 1em;
	margin: 0;
	/* left: 0%; */
	/* width: 100%; */
	position: sticky;
	border-bottom: 1px solid #BBBBBB;
	overflow: auto;
	white-space: nowrap;
}

nav:hover {
	background-color: #222222FF;
	font-size: inherit;
    transition: all 0.2s ease;
}

nav a {
    color: inherit;
	/* float: left; */
	display: inline-block;
	text-align: center;
    padding: 0.5em;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    cursor: pointer;
    color: #91a4d2;
	background-color: #EEEEEE;
	color: #111111;
}
